In [3]:
%reload_ext autoreload
%autoreload 2

In [1]:
from src.data import load_raw_data

rides = load_raw_data(2024)
rides

Downloading file 2024-01
Downloading file 2024-02
Downloading file 2024-03
Downloading file 2024-04
Downloading file 2024-05
Downloading file 2024-06
Downloading file 2024-07
Downloading file 2024-08
Downloading file 2024-09
Downloading file 2024-10
Downloading file 2024-11
Downloading file 2024-12
2024-12 file is not available

            pickup_datetime  pickup_location_id
0       2024-01-01 00:57:55                 186
1       2024-01-01 00:03:00                 140
2       2024-01-01 00:17:06                 236
3       2024-01-01 00:36:38                  79
4       2024-01-01 00:46:51                 211
...                     ...                 ...
3646364 2024-11-30 23:11:15                 162
3646365 2024-11-30 23:49:30                 132
3646366 2024-11-30 23:31:46                 100
3646367 2024-11-30 23:41:21                  42
3646368 2024-11-30 23:21:52                 116

[37500963 rows x 2 columns]

In [4]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

C:\Users\ijato\Documents\taxi_demand_predictor\src\data.py:193: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rides['pickup_hour'] = rides['pickup_datetime'].dt.floor('H')
C:\Users\ijato\Documents\taxi_demand_predictor\src\data.py:156: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_range = pd.date_range(ts_data['pickup_hour'].min(),
100%|██████████| 265/265 [00:03<00:00, 73.23it/s]

                pickup_hour  rides  pickup_location_id
0       2024-01-01 00:00:00      0                   1
1       2024-01-01 01:00:00      0                   1
2       2024-01-01 02:00:00      0                   1
3       2024-01-01 03:00:00      0                   1
4       2024-01-01 04:00:00      0                   1
...                     ...    ...                 ...
2130595 2024-11-30 19:00:00      3                 265
2130596 2024-11-30 20:00:00      2                 265
2130597 2024-11-30 21:00:00      3                 265
2130598 2024-11-30 22:00:00      6                 265
2130599 2024-11-30 23:00:00      2                 265

[2130600 rows x 3 columns]

In [5]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:24<00:00, 11.02it/s]

features.shape=(81355, 674)
targets.shape=(81355,)

In [6]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')